<ActionBar title="EI">
</ActionBar>
<DockLayout stretchLastChild="true">
    <Label dock="top" class="resources" text="£1000"></Label>
    <FlexboxLayout class="body" dock="bottom" flexDirection="column" justifyContent="flex-end">
        <Button class="color--gold background-color--brown" text="Merchant"></Button>
        <Button class="color--gold background-color--brown" text="Barracks"></Button>
        <Button [nsRouterLink]="['/absolute']" class="color--gold background-color--brown"
            text="Absolute Layout"></Button>
        <Button [nsRouterLink]="['/dimensions']" class="color--gold background-color--brown"
            text="Stack Layout + Screen Variables"></Button>
        <Button [nsRouterLink]="['/items']" class="color--gold background-color--brown" text="Flex Layout"></Button>
    </FlexboxLayout>
</DockLayout>
<!-- <ns-dimensions></ns-dimensions> -->