$brown: #803300;
$gold: #ffcc00;
$grey: #3e4837;

.color--brown {
    color: $brown;
}
.color--gold {
    color: $gold;
}
.color--grey {
    color: $grey;
}

.background-color--brown {
    background-color: $brown;
}
.background-color--gold {
    background-color: $gold;
}
.background-color--grey {
    background-color: $grey;
}